<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsultaSpcscServiceSoapBinding"  maxReceivedMessageSize="1000000"  >
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="ConsultaSpcscServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://spcpreproducao.cdl-sc.org.br/spc-web/ConsultaSpcscService"
        binding="basicHttpBinding" bindingConfiguration="ConsultaSpcscServiceSoapBinding"
        contract="wsConsulta.ConsultaSpcScWSService" name="ConsultaSpcsc" />
    </client>
  </system.serviceModel>
</configuration>